@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.App {
  height: 500px; /* quitar */
  width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.App h1 {
  margin-top: 36px;
}

/* INPUT */
.input-container {
  margin-top: 24px;
  display: flex;
}

.input-container input {
  width: 300px;
  height: 40px;
  padding-left: 8px;
  border: 1px solid lightgray;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
}

.input-container button {
  padding: 4px 8px;
  width: 66px;
  background-color: #eb6a6a;
  border: 1px solid #eb6a6a;
  color: white;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: opacity 0.15s;
  cursor: pointer;
}

.input-container button:hover {
  opacity: 0.9;
}
.input-container button:active {
  opacity: 0.5;
}

/* Boton elminar*/

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eliminar-btn {
  margin: 24px auto;
  padding: 6px 10px;
  background-color: #eb6a6a;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.eliminar-btn:hover {
  opacity: 0.9;
}
.eliminar-btn:active {
  opacity: 0.5;
}
